@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins"; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #2c3333;
  min-height: 100vh;
  margin: 0; }

h1 {
  padding-top: 10px;
  font-size: 50px;
  color: #0e8388;
  grid-column: 2;
  grid-row: 1;
  align-self: center; }

h2 {
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  background-color: #39c4c9;
  font-size: 45px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }

footer {
  background: linear-gradient(#cbe4de, #6ff0d2, #0e8388);
  margin: 0px auto;
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 10px 0px 10px #0e8388; }

.divFooter {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.imgFooter {
  padding: 3px;
  height: 30px;
  width: 30px;
  grid-column: 1; }

.textoImg {
  padding-top: 3%;
  font-size: 11px;
  justify-self: left;
  align-self: left; }

.textoFooter {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  justify-self: center;
  align-self: center;
  grid-column: 2; }

.imagenTrazaF {
  width: 15%;
  height: 80%;
  grid-column: 3;
  justify-self: end;
  align-self: center;
  margin-right: 2%; }

body {
  background-color: #516565;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; }

header {
  width: 100%;
  background: linear-gradient(#0e8388, #6ff0d2, #cbe4de);
  text-align: center; }

.prueba {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr); }

.imagenTraza {
  width: 40%;
  height: 90%;
  padding: 1%;
  border-radius: 30px;
  grid-column: 3;
  grid-row: 1;
  justify-self: left;
  align-self: center; }

table {
  background-color: #93eed9;
  border-style: double;
  width: 80%;
  margin: 0 auto; }
  table td {
    border-style: double;
    background: linear-gradient(#0e8388, #6ff0d2);
    width: 50%;
    height: 50%;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.0s ease; }

.divTabla {
  padding-bottom: 5%;
  padding-top: 5%; }

.tdClientes {
  border-style: double;
  background: linear-gradient(#0e8388, #6ff0d2);
  width: 50%;
  height: 50%;
  font-size: 13px;
  text-align: center;
  overflow: hidden; }
  .tdClientes:hover {
    transform: scale(1.1); }
  .tdClientes:hover .pruebaHover {
    transform: scale(1.1);
    display: block; }

.pruebaHover {
  display: none;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  margin-top: 5%;
  padding: 5% 10%;
  font-size: 10px;
  font-weight: bold;
  text-align: justify;
  background-color: #ffffff; }

.parrafoClientes {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder; }

.imgUnoT, .imgDosT, .imgTresT {
  width: 35%;
  height: 35%;
  padding-top: 2%; }

.columna1T, .columna2T, .columna3T {
  font-size: larger;
  align-content: center;
  text-align: center; }

form {
  width: 300px;
  margin: auto;
  text-align: center;
  padding-bottom: 5%; }

label, input, textarea {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center; }

.divMainIndex {
  height: auto;
  padding-bottom: 5%; }

.gridEntes {
  margin-top: 70px;
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding-left: 16%;
  padding-right: 16%; }

.entesReguladores {
  height: 200px;
  width: 230px;
  border-radius: 30px; }

#textoSection {
  text-align: justify;
  font-weight: bold;
  background-color: #82d3d6;
  margin-top: 3%;
  padding: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 80px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9); }

.gridPrueba {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center; }

.imgUno, .imgDos {
  width: 50%;
  height: 60%;
  object-fit: fill;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); }

.imgUno {
  grid-column: 1;
  grid-row: 1; }

.imgDos {
  grid-column: 2;
  grid-row: 2; }

.pUno {
  background-color: #82d3d6;
  font-weight: 400;
  text-align: justify;
  grid-column: 1;
  grid-row: 2;
  margin-top: 3%;
  padding: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); }

.pDos {
  background-color: #82d3d6;
  font-weight: 400;
  text-align: justify;
  grid-column: 2;
  grid-row: 1;
  margin-top: 3%;
  padding: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); }

form {
  margin-top: 10%; }

.gridPrueba {
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center; }

.imgCuatro {
  width: 30%;
  height: 30%;
  margin-top: 8%;
  margin-left: 20%;
  padding-left: 50px; }

#verificaR {
  display: flex;
  flex-direction: row wrap; }

main {
  background-color: #cbe4de; }

.divMain {
  flex: 1;
  margin: 0px auto;
  width: 80%;
  box-shadow: 0px 10px 0px 10px #0e8388; }

nav {
  background-color: white;
  display: block; }

ul {
  text-align: center;
  width: 100%;
  height: 100%;
  list-style: none;
  display: block;
  padding: 18px; }
  ul li {
    display: inline;
    margin: auto; }
    ul li a {
      display: inline-block;
      color: black;
      text-decoration: none;
      font-weight: bold;
      border-radius: 10px;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 20px;
      padding-right: 20px;
      transition: transform 0.3s ease, background-color 0.3s ease; }
      ul li a:hover {
        transform: scale(1.1);
        background-color: #cbe4de; }

@media screen and (max-width: 320px) {
  /* ---------------------------------Estructuras Basicas--------------------------- */
  h1 {
    padding-top: 10px;
    font-size: 30px; }
  h2 {
    font-size: 25px; }
  main {
    background-color: #cbe4de;
    height: auto; }
  footer {
    display: block;
    background-color: #0e8388;
    width: 100%; }
  ul {
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center; }
  a {
    display: block;
    width: 100%; }
    a:hover {
      transform: unset;
      background-color: unset; }
  /* ----------------------------------------Class----------------------------------- */
  .prueba {
    max-width: 100%; }
  .divMain {
    width: 100%; }
  .divFooter {
    grid-row: 2; }
  .textoImg {
    font-size: 11px; }
  .imgCuatro {
    width: 60%;
    height: 60%;
    padding-left: 5px;
    grid-row: 2; }
  .imagenTraza {
    width: 80%; }
  .imgUnoT, .imgDosT, .imgTresT {
    width: 100%;
    height: 100%; }
  .columna1T, .columna2T, .columna3T {
    font-size: small;
    align-content: center;
    text-align: center; }
  .textoImg {
    text-align: center;
    grid-column: 4;
    padding-top: 3%; }
  .gridPrueba {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-bottom: 5%; }
  .imgUno, .imgDos {
    width: 60%;
    height: 50%;
    margin: 40px 40px; }
  .pUno {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px; }
  .pDos {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5%; }
  .imagenTrazaF {
    display: none; }
  .gridEntes {
    padding-left: 0%;
    padding-right: 0%; }
  .entesReguladores {
    height: 70px;
    width: 75px;
    margin: auto;
    border-radius: 30px; }
  .tdClientes {
    pointer-events: none; }
  /* -----------------------------------------ID's----------------------------------- */
  #textoMain {
    font-size: 12px; }
  #verificaR {
    display: grid;
    grid-template-rows: repeat(2, 1fr); }
  #textoSection {
    border-radius: 8px;
    font-size: 10px;
    margin-left: 10%;
    margin-right: 10%; } }

@media screen and (min-width: 321px) and (max-width: 1024px) {
  /* ---------------------------------Estructuras Basicas--------------------------- */
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  ul {
    text-align: center;
    width: 100%;
    list-style: none;
    display: block;
    padding: 8px; }
    ul a {
      font-size: 80%; }
      ul a:hover {
        transform: unset;
        background-color: unset; }
  /* ----------------------------------------Class----------------------------------- */
  .imagenTraza {
    width: 40%; }
  .textoImg {
    padding-top: 3%; } }
