* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins; }

@font-face {
  font-family: "Poppins";
  src: url(../css/fonts/Poppins-Bold.ttf); }

/* ---------------------------------Estructuras Basicas--------------------------- */
html, body {
  height: 100%;
  width: 100%; }

header {
  width: 100%;
  background-color: #0e8388;
  text-align: center; }

body {
  background-color: #2c3333; }

nav {
  background-color: white;
  border-style: solid;
  display: flex;
  width: 100%;
  margin: 0 auto; }

main {
  flex: 1;
  background-color: #cbe4de; }

footer {
  background-color: #0e8388;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

/* ------------------------------------------------------------------------------- */
h1 {
  padding-top: 10px;
  font-size: 50px;
  grid-column: 2;
  grid-row: 1; }

h2 {
  font-size: 35px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }

ul {
  text-align: center;
  width: 100%;
  height: 100%;
  list-style: none;
  display: block;
  padding: 18px; }
  ul li {
    display: inline;
    margin: auto; }
    ul li a {
      display: inline-block;
      color: black;
      text-decoration: none;
      padding-left: 30px;
      padding-right: 30px;
      transition: transform 0.3s ease, background-color 0.3s ease; }
      ul li a:hover {
        transform: scale(1.1);
        background-color: #0e8388; }

form {
  width: 300px;
  margin: auto;
  text-align: center;
  padding-top: 5%; }

label, input, textarea {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center; }

table {
  border-style: double;
  width: 80%;
  margin: 0 auto; }
  table td {
    border-style: double;
    width: 50%;
    height: 50%;
    font-size: 13px;
    text-align: center; }

/* ----------------------------------------Class----------------------------------- */
.gridPrueba {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center; }

.divMain {
  height: 80vh;
  margin: 0px auto;
  width: 80%;
  display: flex; }

.imgUno, .imgDos {
  width: 50%;
  height: 60%; }

.imgUno {
  grid-column: 1;
  grid-row: 1; }

.imgDos {
  grid-column: 2;
  grid-row: 2; }

.pUno {
  grid-column: 1;
  grid-row: 2;
  padding-left: 50px; }

.pDos {
  grid-column: 2;
  grid-row: 1;
  padding-right: 50px; }

.divFooter {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr; }

.textoImg {
  text-align: left;
  font-size: 15px;
  padding: 3px;
  grid-column: 2; }

.textoFooter {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  grid-column: 2; }

.imgFooter {
  padding: 3px;
  height: 30px;
  width: 30px;
  grid-column: 1; }

.imgUnoT, .imgDosT, .imgTresT {
  width: 35%;
  height: 35%; }

.columna1T, .columna2T, .columna3T {
  font-size: larger;
  align-content: center;
  text-align: center; }

.imgCuatro {
  width: 30%;
  height: 30%;
  margin: auto;
  padding-left: 50px; }

.imagenTraza {
  width: 30%;
  height: 90%;
  margin: 5px;
  grid-column: 1;
  grid-row: 1; }

.prueba {
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr; }

.miHeader {
  width: 100%;
  background-color: #0e8388;
  text-align: center; }

/* -----------------------------------------ID's----------------------------------- */
#textoMain {
  text-align: justify;
  margin-top: 12%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%; }

#verificaR {
  display: flex;
  flex-direction: row wrap;
  padding-bottom: 5%;
  margin-top: 4%; }

/* ------------------------------------Mediaqueries----------------------------------- */
@media screen and (max-width: 320px) {
  /* ---------------------------------Estructuras Basicas--------------------------- */
  h1 {
    padding-top: 10px;
    font-size: 30px; }
  main {
    background-color: #cbe4de;
    height: auto; }
  footer {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #0e8388;
    width: 100%;
    grid-template-rows: repeat(2, 1fr); }
  ul {
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center; }
  a {
    display: block; }
    a:hover {
      transform: unset;
      background-color: unset; }
  /* ----------------------------------------Class----------------------------------- */
  .prueba {
    max-width: 100%; }
  .divMain {
    width: 100%; }
  .imgUno {
    width: 80%;
    height: 80%;
    grid-row: 1;
    justify-items: center; }
  .columna1 {
    padding-left: 20px;
    grid-row: 2;
    align-content: center; }
  .imgDos {
    width: 90%;
    height: 90%;
    grid-row: 3; }
  .columna2 {
    padding-left: 20px;
    grid-row: 4;
    align-content: center; }
  .divFooter {
    grid-row: 2; }
  .textoImg {
    font-size: 11px; }
  .imgCuatro {
    width: 60%;
    height: 60%;
    padding-left: 5px;
    grid-row: 2; }
  .formula {
    grid-row: 1; }
  /* -----------------------------------------ID's----------------------------------- */
  #textoMain {
    font-size: 12px; }
  #verificaR {
    display: grid;
    grid-template-rows: repeat(2, 1fr); } }

@media screen and (max-width: 1024px) {
  /* ---------------------------------Estructuras Basicas--------------------------- */
  ul {
    text-align: center;
    width: 100%;
    height: 100%;
    list-style: none;
    display: block;
    padding: 8px; }
  /* ----------------------------------------Class----------------------------------- */
  .imagenTraza {
    width: 40%; } }
