@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #2c3333;
  min-height: 100vh;
  /* hace que el cuerpo ocupe al menos el alto de la ventana */
  margin: 0; }

h1 {
  padding-top: 10px;
  font-size: 50px;
  grid-column: 2;
  grid-row: 1; }

h2 {
  font-size: 35px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }

footer {
  background-color: #0e8388;
  width: 100%;
  height: auto;
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.divFooter {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.imgFooter {
  padding: 3px;
  height: 30px;
  width: 30px;
  grid-column: 1; }

.textoImg {
  padding-top: 3%;
  font-size: 11px;
  justify-self: left;
  align-self: left; }

.textoFooter {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  justify-self: center;
  align-self: center;
  grid-column: 2; }

.imagenTrazaF {
  width: 12%;
  height: 80%;
  grid-column: 3;
  justify-self: end;
  align-self: center;
  margin-right: 2%; }

body {
  background-color: #2c3333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; }

header {
  width: 100%;
  background-color: #0e8388;
  text-align: center; }

.prueba {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr); }

.imagenTraza {
  width: 30%;
  height: 90%;
  margin: 5px;
  grid-column: 1;
  grid-row: 1; }

table {
  border-style: double;
  width: 80%;
  margin: 0 auto; }
  table td {
    border-style: double;
    width: 50%;
    height: 50%;
    font-size: 13px;
    text-align: center; }

.divTabla {
  padding-bottom: 5%; }

.imgUnoT, .imgDosT, .imgTresT {
  width: 35%;
  height: 35%; }

.columna1T, .columna2T, .columna3T {
  font-size: larger;
  align-content: center;
  text-align: center; }

form {
  width: 300px;
  margin: auto;
  text-align: center;
  padding-bottom: 10%; }

label, input, textarea {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center; }

#textoMain {
  text-align: justify;
  margin-top: 6%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 18%; }

.gridPrueba {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center; }

.imgUno, .imgDos {
  width: 50%;
  height: 60%;
  object-fit: fill; }

.imgUno {
  grid-column: 1;
  grid-row: 1; }

.imgDos {
  grid-column: 2;
  grid-row: 2; }

.pUno {
  text-align: justify;
  grid-column: 1;
  grid-row: 2;
  padding-left: 50px; }

.pDos {
  text-align: justify;
  grid-column: 2;
  grid-row: 1;
  padding-right: 50px; }

.gridPrueba {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center; }

.imgCuatro {
  width: 30%;
  height: 30%;
  margin: auto;
  padding-left: 50px; }

#verificaR {
  display: flex;
  flex-direction: row wrap;
  padding-bottom: 5%;
  margin-top: 4%; }

main {
  background-color: #cbe4de; }

.divMain {
  flex: 1;
  margin: 0px auto;
  width: 80%;
  box-shadow: 0px 10px 0px 10px #0e8388;
  border-radius: 5px; }

nav {
  background-color: white;
  border-style: solid;
  display: block; }

ul {
  text-align: center;
  width: 100%;
  height: 100%;
  list-style: none;
  display: block;
  padding: 18px; }
  ul li {
    display: inline;
    margin: auto; }
    ul li a {
      display: inline-block;
      color: black;
      text-decoration: none;
      padding-left: 30px;
      padding-right: 30px;
      transition: transform 0.3s ease, background-color 0.3s ease; }
      ul li a:hover {
        transform: scale(1.1);
        background-color: #0e8388; }

@media screen and (max-width: 320px) {
  /* ---------------------------------Estructuras Basicas--------------------------- */
  h1 {
    padding-top: 10px;
    font-size: 30px; }
  h2 {
    font-size: 25px; }
  main {
    background-color: #cbe4de;
    height: auto; }
  footer {
    display: block;
    background-color: #0e8388;
    width: 100%; }
  ul {
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center; }
  a {
    display: block; }
    a:hover {
      transform: unset;
      background-color: unset; }
  /* ----------------------------------------Class----------------------------------- */
  .prueba {
    max-width: 100%; }
  .divMain {
    width: 100%; }
  .divFooter {
    grid-row: 2; }
  .textoImg {
    font-size: 11px; }
  .imgCuatro {
    width: 60%;
    height: 60%;
    padding-left: 5px;
    grid-row: 2; }
  .imagenTraza {
    width: 80%; }
  .imgUnoT, .imgDosT, .imgTresT {
    width: 100%;
    height: 100%; }
  .columna1T, .columna2T, .columna3T {
    font-size: small;
    align-content: center;
    text-align: center; }
  .textoImg {
    text-align: center;
    grid-column: 4;
    padding-top: 3%; }
  .gridPrueba {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center; }
  .imgUno, .imgDos {
    width: 60%;
    height: 50%;
    margin: 40px 40px; }
  .pUno {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px; }
  .pDos {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5%; }
  .imagenTrazaF {
    display: none; }
  /* -----------------------------------------ID's----------------------------------- */
  #textoMain {
    font-size: 12px; }
  #verificaR {
    display: grid;
    grid-template-rows: repeat(2, 1fr); } }

@media screen and (min-width: 321px) and (max-width: 1024px) {
  /* ---------------------------------Estructuras Basicas--------------------------- */
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  ul {
    text-align: center;
    width: 100%;
    list-style: none;
    display: block;
    padding: 8px; }
    ul a {
      font-size: 80%; }
      ul a:hover {
        transform: unset;
        background-color: unset; }
  /* ----------------------------------------Class----------------------------------- */
  .imagenTraza {
    width: 40%; }
  .textoImg {
    padding-top: 3%; } }
