footer {
    background-color: #0e8388;
    width: 100%;
    height: auto;
    border-style: solid;
    @include grid (3,0);
}

.divFooter{
    @include grid (7,2);
}

.imgFooter{
    padding: 3px;
    height: 30px;
    width: 30px;
    grid-column: 1;
}

.textoImg {
    padding-top: 3%;
    font-size: 11px;
    justify-self: left;
    align-self: left;
}

.textoFooter {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    justify-self: center;
    align-self: center;
    grid-column: 2;
}

.imagenTrazaF {
    width: 12%;
    height: 80%;
    grid-column: 3; 
    justify-self: end;
    align-self: center;
    margin-right: 2%;
}