header {
    width: 100%;
    background: linear-gradient(#0e8388,#6ff0d2,#cbe4de);
    text-align: center;
}

.prueba {
    max-width: 100%;
    @include grid (3,1);
}

.imagenTraza {
    width: 40%;
    height: 90%;
    padding: 1%;
    border-radius: 30px;
    grid-column: 3;
    grid-row: 1;
    justify-self: left;
    align-self: center;
}