header {
    width: 100%;
    background-color: #0e8388;
    text-align: center;
}

.prueba {
    max-width: 100%;
    @include grid (3,1);
}

.imagenTraza {
    width: 30%;
    height: 90%;
    margin: 5px;
    grid-column: 1;
    grid-row: 1;
}