table {
    background-color: #93eed9;
    border-style: double;
    width: 80%;
    margin: 0 auto;
  
    td {
        border-style: double;
        width: 50%;
        height: 50%;
        font-size: 13px;
        text-align: center;
    }
}

.divTabla{
    padding-bottom: 5%;
    
}

.imgUnoT,.imgDosT,.imgTresT {
    width: 35%;
    height: 35%;
    justify-self: left;
    align-self: left;
}
  
  .columna1T,.columna2T,.columna3T {
    font-size: larger;
    align-content: center;
    text-align: center;
}