form {
    margin-top: 10%;
}

.gridPrueba {
    display: grid;
    @include grid (2,2);
    align-items: center;
    justify-items: center;
}

.imgCuatro {
    width: 30%;
    height: 30%;
    margin-top: 8%;
    margin-left: 20%;
    padding-left: 50px;
}

#verificaR {
    display: flex;
    flex-direction: row wrap;
}