.gridPrueba {
    height: auto;
    @include grid (2,2);
    align-items: center;
    justify-items: center;
}

.imgUno,.imgDos {
    width: 50%;
    height: 60%;
    object-fit: fill;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.imgUno {
    grid-column: 1;
    grid-row: 1;
}

.imgDos {
    grid-column: 2;
    grid-row: 2;
}

.pUno {
    background-color: #82d3d6;
    font-weight: 400;
    text-align: justify;
    grid-column: 1;
    grid-row: 2;
    margin-top: 3%;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.pDos {
    background-color: #82d3d6;
    font-weight: 400;
    text-align: justify;
    grid-column: 2;
    grid-row: 1;
    margin-top: 3%;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}