@media screen and (min-width: 321px) and (max-width: 1024px) {

    /* ---------------------------------Estructuras Basicas--------------------------- */ 
        ul {
            text-align: center;
            width: 100%;
            height: 100%;
            list-style: none;
            display: block;
            padding: 8px;
        }
    /* ----------------------------------------Class----------------------------------- */    
        .imagenTraza{
            width: 40%;
        }
    }